{% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
        <a href="{{ link.url }}">{{ link.title }}</a>
        [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
    {% endfor %}]
    {% else %}
        <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
{% endfor %}

<a href="/cart">cart</a>

{% if shop.customer_accounts_enabled %}
    {% if customer %}
        <a href="/account">account</a>
        {{ 'log out'  | customer_logout_link }}
    {% else %}
        {{ 'log in ' | customer_login_link }}
        {{ 'register' | customer_register_link }}
    {% endif %}
{% endif %}

<div>
    <h1> {{ shop.name }}</h1>
</div>

<p>dasda</p>


{% style %}
    <style>
    #background_color{
        background-color: {{ section.settings.background_color }};
    }
    </style>
{% endstyle %}


{% schema %}
{
    "name": "Header",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background color",
            "default": "#ffffff"
        }
    ]
}
{% endschema %}